.container {
	padding: 40px 38px;
	border: 1px solid rgb(1, 69, 122);
	border-radius: 20px;
	box-shadow: 0px 0px 25px 0px rgba(142, 160, 173, 0.35);
}
.text {
	margin-bottom: 10px;

	font-size: 24px;
	font-weight: 400;
	line-height: 1.4;
}
.image {
	display: flex;
	margin: 0 auto;
	margin-top: 30px;
	height: 100%;
	width: 100%;
}
.bold {
	font-weight: 700;
}
@media screen and (max-width: 700px) {
	.text {
		font-size: 20px;
	}
}

@media screen and (max-width: 550px) {
	.container{
		padding: 20px;
	}
	
	.text {
		font-size: 16px;
	}
}
@media screen and (max-width: 400px) {
	.container{
		padding: 10px;
	}
	
	.text {
		font-size: 12px;
	}
}